# For PCBs designed using KiCad: http://www.kicad-pcb.org/

# Temporary files
*.000
*.bak
*.bck
*.kicad_pcb-bak
*~
_autosave-*
*.tmp

# Netlist files (exported from Eeschema)
*.net

# Autorouter files (exported from Pcbnew)
*.dsn
*.ses

# Exported BOM files
*.xml
*.csv

**/gerber/**
Electrical/~$PowerBudget.xlsx

# ROS build and development folders that do not need to be tracked
*/build/*
build/*
*/devel/*
devel/*
*/install/*
install/*
src/CMakeFiles
src/CTestTestfile.cmake
src/catkin*
src/cmake_install.cmake
src/gtest
rospy
*.pyc
*~
*.DS_Store

# VScode settings
.idea
/.vscode/
logs/
*/logs/*

# Catkin leftovers
.catkin_tools
*/.catkin_tools/*

# PTZ Camera Storage Folder
src/mavric/src/PTZ_Control/PTZ_Photos/*
