<launch>
    <group ns="Arm">
        <node name="Armtrain_Control" pkg="mavric" type="SparkCAN_Arm_Train.py">
        </node>
        <node name="Arm_Interface" pkg="mavric" type="Arm_P.py" respawn="true">
            <param name="port" value="10001" />
        </node>
    </group>
    <group ns="Drive">
        <node name="Drivetrain_Interface" pkg="mavric" type="Drive_Train_P.py" respawn="true" >
            <remap from="Drive_Train" to="Drive_Command" />
            <remap from="Steer_Train" to="Steer_Command" />
            <remap from="Steer_Cal" to="Cal_Command" />
            <param name="port" value="9002" />
        </node>
    </group>
</launch>
