<launch>

    <node name="Auto_Interface" pkg="mavric" type="Autonomous_P.py" respawn="true">
    </node>

    <node name="Auto_System" pkg="mavric" type="complex_main.py" respawn="true">
        <remap from="GPS_Fix" to="/GPS_Fix" />
        <remap from="GPS" to="/GPS_Data" />
        <remap from="SensorCalibrations" to="/HW/IMU/SensorCalibrations" />
        <remap from="FusedAngle" to="/HW/IMU/FusedAngle" />
        <remap from="Drive_Train" to="/Drive/Drive_Command" />
        <remap from="Steer_Train" to="/Drive/Steer_Command" />
    </node>


    <node name="GPS_Sim" pkg="mavric" type="GPS_Sim.py" respawn="true">
        <remap from="FusedAngle" to="/HW/IMU/FusedAngle" />
        <remap from="Drive_Train" to="/Drive/Drive_Command" />
        <remap from="GPS_Data" to="/GPS_Data" />
    </node>

    <node name="LightPole_Control" pkg="mavric" type="LED_Control.py" respawn="true">
    </node>

    <node name="Relay_Control" pkg="mavric" type="Relay_Switcher.py" respawn="true">
    </node>

    
</launch>