<launch>
  <arg name="simulated" default="false" />
  <group ns="Drive_Board_HW" unless="$(arg simulated)">
    <node name="PCA9685_PWM_HAT" pkg="mavric" type="PCA9685_PWM_HAT.py" respawn="true">
      <param name="frequency" value="250" />
    </node>
  </group>
  
  <node name="Drivetrain_Output" pkg="mavric" type="Drive_Train_S.py" respawn="true" >
    <remap from="LeftFront" to="Drive_Board_HW/PWM_Channels/CH0" />
    <remap from="LeftMiddle" to="Drive_Board_HW/PWM_Channels/CH1" />
    <remap from="LeftBack" to="Drive_Board_HW/PWM_Channels/CH2" />

    <remap from="RightFront" to="Drive_Board_HW/PWM_Channels/CH4" />
    <remap from="RightMiddle" to="Drive_Board_HW/PWM_Channels/CH5" />
    <remap from="RightBack" to="Drive_Board_HW/PWM_Channels/CH6" />

    <param name="Range" value="0.4" />

    <param name="Left_Front/Scale" value="-1" />
    <param name="Left_Back/Scale" value="-1" />
    <param name="Right_Back/Scale" value="-1" />
  </node>
</launch>
