<launch>
    <group ns="Drive">
        <node name="Drivetrain_Control" pkg="mavric" type="SparkCAN_Drive_Train.py" >
            <remap from="Drive_Train" to="Drive_Command" />
            <remap from="Steer_Train" to="Steer_Command" />
            <remap from="Pitch_Train" to="/Arm/ShoulderPitch" />
        </node>
    </group>
</launch>