<launch>
    <include file="$(find rosbridge_server)/launch/rosbridge_websocket.launch">
        <arg name="port" value="9090"/>
    </include>
    <include file="$(find mavric)/launch/Drive.launch"/>
    <include file="$(find mavric)/launch/Sensors.launch"/>
    <include file="$(find mavric)/launch/Cameras.launch"/>
    <node name="LoRa_Interface" pkg="mavric" type="900MHz_Interface.py" >
        <remap from="Drive_Train" to="Drive/Drive_Command" />
        <remap from="Steer_Train" to="Drive/Steer_Command" />
    </node>
</launch>