<launch>
  <group ns="Master_Board_HW">
    <node name="PCA9685_PWM_HAT" pkg="mavric" type="PCA9685_PWM_HAT.py" respawn="true">
      <param name="frequency" value="25000" />
    </node>
    <node name="GPS_Streamer" pkg="mavric" type="GPS_Stream.py" respawn="true" >
      <remap from="GPS_Data" to="/GPS_Data" />
    </node>
  </group>
  
  <include file="$(find mavric)/launch/SystemCooling.launch" >
    <arg name="Fan_Output" value="/Master_board_HW/PWM_Channels/CH0" />
  </include>
  
  <node name="Drivetrain_Interface" pkg="mavric" type="Drive_Train_P.py" respawn="true" />
  <node name="Drivetrain_Hartbeat" pkg="mavric" type="DrivetrainHartbeat.py" respawn="true" >
    <param name="timeout" value="1" />
  </node>
  <node name="GPS_Interface" pkg="mavric" type="GPS_Interface.py" respawn="true" />

</launch>
