<launch>
  <arg name="simulated" default="false" />
  <group ns="Master_Board_HW" unless="$(arg simulated)">
    <node name="PCA9685_PWM_HAT" pkg="mavric" type="PCA9685_PWM_HAT.py" respawn="true">
      <param name="frequency" value="25000" />
      <!-- we want to run as fast as possible here -->
      <!-- <param name="clk_error" value="1.0893246187363834422657952069717" /> -->
    </node>
    <node name="GPS_Streamer" pkg="mavric" type="GPS_Test.py" respawn="true" >
      <remap from="GPS_Data" to="/GPS_Data" />
    </node>
	<node name="ADC_Monitor" pkg="mavric" type="Voltage_Monitor.py" respawn="true">
		<param name="frequency" value="10" />
		<param name="address" value="0x18" />
	</node>
  </group>
  
  <include file="$(find mavric)/launch/SystemCooling.launch" >
    <arg name="Fan_Output_Out" value="/Master_Board_HW/PWM_Channels/DutyCycleControl/CH0" />
    <arg name="Fan_Output_In" value="/Master_Board_HW/PWM_Channels/DutyCycleControl/CH1" />
    <arg name="simulated" value="$(arg simulated)" />
  </include>
  
  <group ns="Arm">
	<node name="Arm_Interface" pkg="mavric" type="Arm_P.py" respawn="true">
		<remap from="Arm_ShoulderRot" to="Command_ShoulderRot" />
		<remap from="Arm_ShoulderPitch" to="Command_ShoulderPitch" />
		
		<remap from="Arm_ElbowPitch" to="Command_ElbowPitch" />
		
		<remap from="Arm_WristRot" to="Command_WristRot" />
		<remap from="Arm_WristPitch" to="Command_WristPitch" />
		
		<remap from="Arm_ClawActuation" to="Command_ClawActuation" />
	</node>
  </group>

  <group ns="Drive">
    <node name="Drivetrain_Interface" pkg="mavric" type="Drive_Train_P.py" respawn="true" >
      <remap from="Drive_Train" to="Command" />
    </node>
    <node name="Drivetrain_Hartbeat" pkg="mavric" type="DrivetrainHartbeat.py" respawn="true" >
      <param name="timeout" value="1" />
      <remap from="Drive_Train" to="Command" />
    </node>
    <node name="Autonomous_Interface" pkg="mavric" type="Autonomous_P.py" respawn="true">
    <remap from="Autonomous" to="Autonomous_Command" />
      <remap from="Next_Waypoint" to="Next_Waypoint" />
    </node>
    <node name="Autonomous_Logic" pkg="mavric" type="auto_main.py" respawn="true" output="screen">
      <remap from="Autonomous" to="Autonomous_Command" />
      <remap from="Drive_Train" to="Command" />
      <remap from="Next_Waypoint" to="Next_Waypoint" />
      <remap from="GPS" to="/GPS_Data" />
      <remap from="FusedAngle" to="/Drive_Board_HW/IMU/FusedAngle" />
      <remap from="SensorCalibrations" to="/Drive_Board_HW/IMU/SensorCalibrations" />

      <param name="Range" value="0.5" />
      <param name="Rover_Width" value="0.855" />
      <param name="Rover_MinTurnRadius" value="2" /> <!-- TODO: measure me -->
    </node>
  </group>

  <node name="GPS_Interface" pkg="mavric" type="GPS_Interface.py" respawn="true" />
  <node name="Temperature_Interface" pkg="mavric" type="Float64_Interface_out.py" respawn="true">
    <remap from="value" to="/SystemCooling/Temperature" />
    <param name="port" value="8002" />
  </node>
</launch>
