<launch>
  <include file="$(find mavric)/src/SystemCooling.launch" />
  <node name="Drivetrain_Interface" pkg="mavric" type="Drive_Train_P.py" />
  <node name="Drivetrain_Hartbeat" pkg="mavric" type="DrivetrainHartbeat.py" />
  <node name="GPS_Streamer" pkg="mavric" type="GPS_Stream.py" />
</launch>