<launch>
  <group ns="SystemCooling" >
    <node name="TempMonitor" pkg="mavric" type="TempMonitor.py" respawn="true" />
    <node name="EBoxFans" pkg="mavric" type="EBoxFans.py" respawn="true" />
    <node name="FanPIDController" pkg="pid" type="controller" respawn="true" >
      <param name="Kp" value="-0.05"/>
      <param name="Ki" value="-0.01"/>
      <param name="Kd" value="0.0"/>
      <param name="upper_limit" value="1"/>
      <param name="lower_limit" value="0"/>
      <param name="windup_limit" value="1"/>
      <param name="min_loop_frequency" value="5"/>
      <remap from="setpoint" to="DesiredTemperature" />
      <remap from="control_effort" to="Fan_Setpoint" />
      <remap from="state" to="Temperature" />
    </node>
    <node name="SetpointInitializer" pkg="mavric" type="PublishValue.py" respawn="false" >
      <param name="topic" value="DesiredTemperature" />
      <param name="value" value="50.0" />
      <param name="delay" value="0" />
      <param name="rate" value="10" />
      <param name="num" value="20" />
    </node>
  </group>
</launch>