<launch>
  <group ns="SystemCooling" >
    <node name="TempMonitor" pkg="mavric" type="TempMonitor.py" respawn="true" />
    <node name="EBoxFans" pkg="mavric" type="EBoxFans.py" respawn="true" />
    <node name="FanPIDController" pkg="pid" type="controller" respawn="true" >
      <param name="Kp" value="-0.05"/>
      <param name="Ki" value="-0.01"/>
      <param name="Kd" value="0.0"/>
      <param name="upper_limit" value="1"/>
      <param name="lower_limit" value="0"/>
      <param name="windup_limit" value="1"/>
      <remap from="setpoint" to="DesiredTemperature" />
      <remap from="control_effort" to="Fan_Setpoint" />
      <remap from="state" to="Temperature" />
    </node>
  </group>
</launch>